Discuss the use case of tuples and sets in python

In [3]:
#Tuple
a=(1,2,3,4,5,'happy',2.45,True)
print(a)
type(a)

(1, 2, 3, 4, 5, 'happy', 2.45, True)

tuple

In [5]:
b={1,2,3,4,5,'happy',2.45,True}
print(b)
type(b)

{1, 2, 3, 4, 5, 2.45, 'happy'}

set

In [9]:
#tuple 
a=(1,2,3,4,5,'happy',2.45,True)
a[0]

1

In [10]:
a[0]=100

TypeError: 'tuple' object does not support item assignment

In [13]:
#sets
b={1,2,3,4,5,'happy',2.45,True}
b[0]

TypeError: 'set' object is not subscriptable

In [1]:
#tuples are immutable
a=(1,2,3,4,5,'happy',2.45,True)
a[0]=100

TypeError: 'tuple' object does not support item assignment

In [3]:
#sets are mutable 
b={1,2,3,4,5,'happy',2.45,True}
b.add(100)
b

{1, 100, 2, 2.45, 3, 4, 5, 'happy'}

In [8]:
#tuple index
a=(1,2,3,4,5,'happy',2.45,True,'ram')
a.index("ram")

8

In [9]:
#sets not index
b={1,2,3,4,5,'happy',2.45,True}
b[0]

TypeError: 'set' object is not subscriptable